.toolbar {
  background: #dfd;
  border-bottom: 1px solid;
  padding: 4px;
  display: flex;
}

.toolbar-icon {
  padding: 2px 4px;
}

.toolbar-icon:hover {
  color: #999;
  cursor: pointer;
}

.toolbar-icon-right {
  margin-left: auto;
}

.toolbar-save-black {
  color: black;
}

.toolbar-save-green {
  color: green;
}

.toolbar-save-red {
  color: red;
}
