.toolbar {
  background: #dfd;
  border-bottom: 1px solid;
  padding: 4px;
  display: flex;
}

.toolbar-icon {
  padding: 2px 4px;
}

.toolbar-icon:hover {
  color: #999;
  cursor: pointer;
}

.toolbar-icon-separator {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 2px solid #999;
}

.toolbar-container-right {
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.toolbar-save-black {
  color: black;
}

.toolbar-save-green {
  color: green;
}

.toolbar-save-red {
  color: red;
}
