.scene-panel {
  display: flex;
  flex-direction: row;
  height: calc(100% - 4px - 19px - 18px); /* Taking into account the top */
}

.scene-settings {
  display: flex;
  flex-direction: column;
  padding: 0 4px;
  min-width: 100px;
}

.scene-creator-container {
  width: 400px;
  height: 300px;
  overflow: scroll;
}

.window-maximized .scene-creator-container {
  width: 100%;
  height: 100%;
}

.scene-creator {
  position: relative;
  background-color: #bbb;
}

.scene-grid {
  background-color: #000;
  position: absolute;
}
