.COMMENT, .BLOCK_COMMENT {
  color: #0c0;
}

.STRING {
  color: #f80;
}

.NUMBER {
  color: #f3f;
}

.IDENTIFIER {
  color: #4df;
}

.AND, .OR, .NOT, .BANG, .IF, .ELSE, .TRUE, .FALSE, .VAR, .FOR, .WHILE, .NULL, .THIS, .OTHER, .BREAK, .CONTINUE {
  color: #09f;
}

.ARG {
  color: #0aa;
}

.APP_DEFINED {
  color: #d66;
}

.USER_DEFINED {
  color: #990;
}