body {
  padding: 0;
  margin: 0;
  height: 100%;
}

.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.flex-container {
  display: flex;
  height: 100%;
}

.folder-view {
  flex: 1;
  background: #fdd;
  border-right: 1px solid black;
  margin-left: -20px;
  padding: 4px;
  z-index: 1;
}

.main-view {
  flex: 3;
  background: #ddf;
  position: relative;
}